{{wrapper_class}} .gitgutter-button {
    font-size: 2.5rem;
}

/* Don't underline button links. */
{{wrapper_class}} .gitgutter-button a {
    text-decoration: none;
}

/* Size of button, if they are an image. */
{{wrapper_class}} .gitgutter-button img {
    height: 2.5rem;
    width: 2.5rem;
}